<div class="header-container" *ngIf="showLargeBanner">
	<div class="w-full md:w-2/3">
		<div class="ag-heading text-5xl md:text-6xl inline-block">
			<span>Hi, I'm </span>
			<span class="text-app-primary">Ashwin Gairola</span>
		</div>

		<div class="ag-text-4 sm:ag-text-4 font-bold mb-2">
			<span class="text-app-secondary">Web Developer</span> since 2018
		</div>

		<section class="my-8">
			<p class="ag-text-2 justified">
				Born and bred in hilly
				<a
					agExternalLink
					color="secondary"
					class="link"
					href="https://en.wikipedia.org/wiki/Dehradun"
				>
					Dehradun</a
				>, I now work in
				<a
					agExternalLink
					color="secondary"
					class="link"
					href="https://en.wikipedia.org/wiki/Bangalore"
				>
					Bengaluru</a
				>
				as a developer. I am a versatile learner, with a desire to work with the
				latest tech in the industry and grow as a developer. Currently on a
				mission to conquer the <span class="text-app-secondary">MEAN</span> and
				<span class="text-app-secondary">MERN</span> stacks. Welcome to my
				portfolio.
			</p>
		</section>

		<div class="mt-4">
			<a
				ag-button
				color="primary"
				href="{{ resumeUrl }}"
				download="{{ resumeFilename }}"
			>
				Download Résumé
			</a>
		</div>
	</div>
</div>

<div class="header-container text-center" *ngIf="!showLargeBanner">
	<div class="ag-heading text-5xl"></div>
</div>
