<div class="text-center">
	<div class="ag-heading text-5xl sm:text-6xl inline-block">
		Ashwin Gairola
	</div>

	<div class="ag-text-3 font-bold mb-2">
		I turn designs into reality.
	</div>

	<div class="ag-text">
		<ag-icon [icon]="'fa-briefcase'"></ag-icon>
		Web Developer since 2018.
	</div>

	<div class="ag-text">
		<ag-icon [icon]="'fa-map-marker-alt'"></ag-icon>
		Bangalore, Karnataka, India
	</div>

	<div class="ag-text">
		<ag-icon [icon]="'fa-home'"></ag-icon>
		Dehradun, Uttarakhand, India
	</div>

	<button agButton [color]="'primary'" (click)="downloadResume()" class="my-4">
		Download Résumé
	</button>
</div>
