<div #glide class="glide">
	<div class="glide__track" data-glide-el="track">
		<div class="glide__slides">
			<ng-content></ng-content>
		</div>
	</div>

	<div class="glide__arrows" data-glide-el="controls">
		<button
			ag-round-button
			[color]="'primary'"
			class="glide__arrow glide__arrow--left absolute"
			data-glide-dir="<"
		>
			prev
		</button>
		<button
			ag-round-button
			[color]="'primary'"
			class="glide__arrow glide__arrow--right absolute"
			data-glide-dir=">"
		>
			next
		</button>
	</div>
</div>
