<div #glide class="glide">
	<div class="glide__track" data-glide-el="track">
		<div class="glide__slides">
			<ng-content></ng-content>
		</div>
	</div>

	<div class="glide__arrows" data-glide-el="controls">
		<button
			ag-round-button
			[color]="'primary'"
			class="glide__arrow glide__arrow--left absolute opacity-0 md:opacity-100 pointer-events-none sm:pointer-events-auto"
			data-glide-dir="<"
		>
			<ag-icon [icon]="'fa-arrow-left'"></ag-icon>
		</button>
		<button
			ag-round-button
			[color]="'primary'"
			class="glide__arrow glide__arrow--right absolute opacity-0 md:opacity-100 pointer-events-none sm:pointer-events-auto"
			data-glide-dir=">"
		>
			<ag-icon [icon]="'fa-arrow-right'"></ag-icon>
		</button>
	</div>
</div>
