<ng-container [ngSwitch]="icon">
	<fa-icon *ngSwitchCase="'fa-home'" [icon]="faHome"></fa-icon>
	<fa-icon *ngSwitchCase="'fa-code'" [icon]="faCode"></fa-icon>
	<fa-icon *ngSwitchCase="'fa-palette'" [icon]="faPalette"></fa-icon>
	<fa-icon *ngSwitchCase="'fa-phone'" [icon]="faPhone"></fa-icon>
	<fa-icon *ngSwitchCase="'fa-file-alt'" [icon]="faFileAlt"></fa-icon>
	<fa-icon
		*ngSwitchCase="'fa-map-marker-alt'"
		[icon]="faMapMarkerAlt"
	></fa-icon>
	<fa-icon *ngSwitchCase="'fa-briefcase'" [icon]="faBriefcase"></fa-icon>
</ng-container>
