.icon-grid {
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(10%, 1fr));
	grid-gap: 0.5rem;
}

.grid-title-placeholder {
	width: fit-content;
}

.icon-placeholder {
	position: relative;

	&-content {
		position: absolute;
		top: 0;
		left: 0;
		height: 100%;
		width: 100%;
	}
}

.icon-placeholder::before {
	content: '';
	display: block;
	padding-top: 100%;
}
