@import 'tailwind';

// SCROLLBARS

*::-webkit-scrollbar {
	width: 6px;
	height: 6px;
}

*::-webkit-scrollbar-thumb {
	border-radius: 99px;
	@apply bg-primary;
}

*::-webkit-scrollbar-corner {
	opacity: 0;
}
