@import './reset';
@import './tailwind';
@import './themes';
@import './typography';
@import './scrollbars';
@import './animations';
@import './../../node_modules/@angular/cdk/overlay-prebuilt.css';

body {
	font-family: 'Raleway', 'Segoe UI', 'Ubuntu', sans-serif;
}

// TODO: Rename this to .font-brand or something.
.ag-heading {
	font-family: 'Heebo', 'Segoe UI', 'Ubuntu', sans-serif;
}

.link {
	text-decoration: underline;
	cursor: pointer;
}
