.theme-dark {
	--color-bg-primary: #121212;
	--color-bg-secondary: #1f1b24;
	--color-bg-navbar: #2a2e35;

	--color-text-primary: #fff;
	--color-text-secondary: #121212;
	--color-text-navbar: #fff;

	--color-primary: #ba11e2;
}

.theme-light {
	--color-bg-primary: #fff;
	--color-bg-secondary: #fff;
	--color-bg-navbar: #fa771e;

	--color-text-primary: #000;
	--color-text-secondary: #fff;
	--color-text-navbar: #fff;

	--color-primary: #fa771e;
}
