@font-face {
	font-family: 'Russo One';
	src: url('../assets/fonts/RussoOne-Regular.ttf');
	font-display: swap;
}

@font-face {
	font-family: 'Caviar Dreams';
	src: url('../assets/fonts/CaviarDreams-webfont.woff');
	font-style: normal;
	font-weight: 400;
	font-display: swap;
}

@font-face {
	font-family: 'Caviar Dreams';
	src: url('../assets/fonts/CaviarDreams_Italic-webfont.woff');
	font-style: italic;
	font-weight: 300;
	font-display: swap;
}

@font-face {
	font-family: 'Caviar Dreams';
	src: url('../assets/fonts/Caviar_Dreams_Bold-webfont.woff');
	font-style: normal;
	font-weight: 700;
	font-display: swap;
}

.ag-font-1 {
	font-family: 'Russo One', sans-serif;
}

.ag-font-2 {
	font-family: 'Caviar Dreams', sans-serif;
}
