<section>
	<h1 class="text-4xl ag-heading mb-8 text-app-primary">Skills</h1>

	<p class="mb-8">
		These are my skills and the technologies with which I have worked or am
		currently using.
	</p>

	<h2 class="text-2xl mb-4 ag-heading">Programming Languages</h2>

	<ng-container
		*ngIf="programmingLanguages$ | async as programmingLanguages; else loading"
	>
		<ng-container
			*ngIf="programmingLanguages?.data && !programmingLanguages?.error"
		>
			<div
				class="grid grid-cols-3 sm:grid-cols-4 md:grid-cols-6 xl:grid-cols-8 gap-2 mb-5"
			>
				<ag-skill-icon
					*ngFor="let skill of programmingLanguages?.data"
					[skill]="skill"
				></ag-skill-icon>
			</div>
		</ng-container>
	</ng-container>

	<h2 class="text-2xl mb-4 ag-heading">Frontend</h2>

	<ng-container *ngIf="frontendSkills$ | async as frontendSkills; else loading">
		<ng-container *ngIf="frontendSkills?.data && !frontendSkills?.error">
			<div
				class="grid grid-cols-3 sm:grid-cols-4 md:grid-cols-6 xl:grid-cols-8 gap-2 mb-5"
			>
				<ag-skill-icon
					*ngFor="let skill of frontendSkills?.data"
					[skill]="skill"
				></ag-skill-icon>
			</div>
		</ng-container>
	</ng-container>

	<h2 class="text-2xl mb-4 ag-heading">Backend</h2>

	<ng-container *ngIf="backendSkills$ | async as backendSkills; else loading">
		<ng-container *ngIf="backendSkills?.data && !backendSkills?.error">
			<div
				class="grid grid-cols-3 sm:grid-cols-4 md:grid-cols-6 xl:grid-cols-8 gap-2 mb-5"
			>
				<ag-skill-icon
					*ngFor="let skill of backendSkills?.data"
					[skill]="skill"
				></ag-skill-icon>
			</div>
		</ng-container>
	</ng-container>

	<h2 class="text-2xl mb-4 ag-heading">Databases</h2>

	<ng-container *ngIf="dbSkills$ | async as dbSkills; else loading">
		<ng-container *ngIf="dbSkills?.data && !dbSkills?.error">
			<div
				class="grid grid-cols-3 sm:grid-cols-4 md:grid-cols-6 xl:grid-cols-8 gap-2 mb-5"
			>
				<ag-skill-icon
					*ngFor="let skill of dbSkills?.data"
					[skill]="skill"
				></ag-skill-icon>
			</div>
		</ng-container>
	</ng-container>

	<h2 class="text-2xl mb-4 ag-heading">Testing</h2>

	<ng-container *ngIf="testingSkills$ | async as testingSkills; else loading">
		<ng-container *ngIf="testingSkills?.data && !testingSkills?.error">
			<div
				class="grid grid-cols-3 sm:grid-cols-4 md:grid-cols-6 xl:grid-cols-8 gap-2 mb-5"
			>
				<ag-skill-icon
					*ngFor="let skill of testingSkills?.data"
					[skill]="skill"
				></ag-skill-icon>
			</div>
		</ng-container>
	</ng-container>

	<ng-template #loading>
		<div class="icon-grid">
			<div class="icon-placeholder" *agRepeat="8">
				<ag-card class="icon-placeholder-content"></ag-card>
			</div>
		</div>
	</ng-template>
</section>
