@import '../../../../styles/tailwind.scss';

:host {
	@screen lg {
		height: 360px;
	}

	@screen md {
		height: 340px;
	}

	@screen sm {
		height: 320px;
	}

	display: block;
	height: 300px;
	margin-bottom: 4px;
}

.project-desc {
	display: -webkit-box;
	-webkit-box-orient: vertical;
	-webkit-line-clamp: 3;
	overflow: hidden;
}
