@import '../../../../styles/tailwind.scss';

:host {
	display: block;
	height: 360px;
	margin-bottom: 4px;
}

@screen sm {
	:host {
		height: 320px;
	}
}

@screen md {
	:host {
		height: 320px;
	}
}

@screen lg {
	:host {
		height: 340px;
	}
}

@screen 4k {
	:host {
		height: 320px;
	}
}

.project-desc {
	display: -webkit-box;
	-webkit-box-orient: vertical;
	-webkit-line-clamp: 3;
	overflow: hidden;
}
