<!-- <ag-card>
	<ag-card-image [src]="project.img" [alt]="project.title"></ag-card-image>

	<section class="ag-text mt-2 h-full">
		<div class="mb-1">
			<p class="truncate">{{ project.title }}</p>
			<p class="text-xs truncate">
				<ng-container *ngIf="project.company">
					{{ project.company }}
				</ng-container>
				<ng-container *ngIf="!project.company">
					Personal Project
				</ng-container>
			</p>
		</div>
		<p class="ag-text text-xs project-desc">
			{{ project.description }}
		</p>
	</section>

	<ag-card-footer>
		<div class="-m-2">
			<ag-btn-project-link
				*ngIf="project.liveUrl"
				[liveUrl]="project.liveUrl"
			></ag-btn-project-link>
			<ag-btn-github
				*ngIf="project.githubRepo"
				[githubRepo]="project.githubRepo"
			></ag-btn-github>
		</div>
	</ag-card-footer>
</ag-card> -->
