<ag-card>
	<ag-card-image [src]="project.img" [alt]="project.title"></ag-card-image>

	<section class="ag-text mt-2">
		<div class="mb-1">
			<p class="truncate">{{ project.title }}</p>
			<p class="text-xs truncate">
				<ng-container *ngIf="project.company">
					{{ project.company }}
				</ng-container>
				<ng-container *ngIf="!project.company">
					Personal Project
				</ng-container>
			</p>
		</div>
		<p class="ag-text text-xs">
			{{ project.description }}
		</p>
	</section>
</ag-card>
