@import '../../../../styles/tailwind.scss';

:host {
	display: block;
	height: inherit;
	margin-bottom: 4px;
}

.project-desc {
	display: -webkit-box;
	-webkit-box-orient: vertical;
	-webkit-line-clamp: 3;
	overflow: hidden;
}
