<!-- <ag-navbar>
	<section class="container mx-auto flex justify-between">
		<div>AG</div>
		<div class="flex">
			<a
				agButton
				[color]="'primary'"
				href="{{ resumeUrl }}"
				download="{{ resumeFilename }}"
			>
				Download Resume
			</a>
		</div>
	</section>
</ag-navbar> -->

<section class="flex">
	<section class="w-16 h-screen fixed hidden sm:block">
		<ag-sidenav>
			<ag-sidenav-item>
				<ag-menu-item [icon]="'fa-home'"></ag-menu-item>
			</ag-sidenav-item>
			<ag-sidenav-item>
				<ag-menu-item [icon]="'fa-code'"></ag-menu-item>
			</ag-sidenav-item>
			<ag-sidenav-item>
				<ag-menu-item [icon]="'fa-palette'"></ag-menu-item>
			</ag-sidenav-item>
			<ag-sidenav-item>
				<ag-menu-item [icon]="'fa-phone'"></ag-menu-item>
			</ag-sidenav-item>
			<ag-sidenav-item>
				<ag-menu-item [icon]="'fa-file-alt'"></ag-menu-item>
			</ag-sidenav-item>
		</ag-sidenav>
	</section>

	<section class="block sm:hidden">
		<ag-bottomnav>
			<ag-bottomnav-item>
				<ag-menu-item [icon]="'fa-home'"></ag-menu-item>
			</ag-bottomnav-item>
			<ag-bottomnav-item>
				<ag-menu-item [icon]="'fa-code'"></ag-menu-item>
			</ag-bottomnav-item>
			<ag-bottomnav-item>
				<ag-menu-item [icon]="'fa-palette'"></ag-menu-item>
			</ag-bottomnav-item>
			<ag-bottomnav-item>
				<ag-menu-item [icon]="'fa-phone'"></ag-menu-item>
			</ag-bottomnav-item>
			<ag-bottomnav-item>
				<ag-menu-item [icon]="'fa-file-alt'"></ag-menu-item>
			</ag-bottomnav-item>
		</ag-bottomnav>
	</section>

	<section class="sm:ml-16 p-8 flex-grow">
		<router-outlet></router-outlet>
	</section>
</section>
