<section class="w-16 fixed h-screen max-h-screen hidden sm:block">
	<ag-sidenav>
		<ag-sidenav-item
			agTooltip="Home"
			tooltipPosition="right"
			[routerLink]="['']"
			fragment="banner"
		>
			<ag-menu-item [icon]="'fa-home'"></ag-menu-item>
		</ag-sidenav-item>
		<ag-sidenav-item
			agTooltip="My Work"
			tooltipPosition="right"
			[routerLink]="['']"
			fragment="my-work"
		>
			<ag-menu-item [icon]="'fa-code'"></ag-menu-item>
		</ag-sidenav-item>
		<ag-sidenav-item
			agTooltip="My Skills"
			tooltipPosition="right"
			[routerLink]="['']"
			fragment="my-skills"
		>
			<ag-menu-item [icon]="'fa-palette'"></ag-menu-item>
		</ag-sidenav-item>
		<ag-sidenav-item
			agTooltip="Contact Me (Under Construction)"
			tooltipPosition="right"
			[routerLink]="['']"
			fragment="contact"
		>
			<ag-menu-item [icon]="'fa-phone'"></ag-menu-item>
		</ag-sidenav-item>
		<ag-sidenav-item
			agTooltip="Download Resume (Under Construction)"
			tooltipPosition="right"
		>
			<ag-menu-item [icon]="'fa-file-alt'"></ag-menu-item>
		</ag-sidenav-item>
	</ag-sidenav>
</section>

<section class="block sm:hidden">
	<ag-bottomnav>
		<ag-bottomnav-item [routerLink]="['']" fragment="banner">
			<ag-menu-item [icon]="'fa-home'"></ag-menu-item>
		</ag-bottomnav-item>
		<ag-bottomnav-item [routerLink]="['']" fragment="my-work">
			<ag-menu-item [icon]="'fa-code'"></ag-menu-item>
		</ag-bottomnav-item>
		<ag-bottomnav-item [routerLink]="['']" fragment="my-skills">
			<ag-menu-item [icon]="'fa-palette'"></ag-menu-item>
		</ag-bottomnav-item>
		<ag-bottomnav-item [routerLink]="['']" fragment="contact">
			<ag-menu-item [icon]="'fa-phone'"></ag-menu-item>
		</ag-bottomnav-item>
		<ag-bottomnav-item>
			<ag-menu-item [icon]="'fa-file-alt'"></ag-menu-item>
		</ag-bottomnav-item>
	</ag-bottomnav>
</section>

<section
	class="pb-16 sm:pb-0 pt-4 sm:pt-8 px-4 sm:px-0 sm:pl-16 flex-grow w-full"
>
	<main class="mx-auto w-11/12">
		<div *ngIf="showLoader">LOADING...</div>
		<router-outlet></router-outlet>
	</main>
</section>
