<h2 class="ag-heading text-2xl sm:text-4xl mb-8">Testimonials</h2>

<section class="-ml-4 flex flex-wrap">
	<ng-container *ngIf="testimonialsData$ | async as t; else loading">
		<ng-container *ngIf="!t.error; else error"></ng-container>

		<div class="mx-auto" *ngFor="let testimonial of t.data">
			{{ testimonial.description }}
		</div>

		<ng-template #error>
			<p class="mx-auto">Some error occurred.</p>
		</ng-template>
	</ng-container>

	<ng-template #loading>
		<p class="mx-auto">Loading...</p>
	</ng-template>
</section>
