@import '../../../../../styles/tailwind.scss';

:host {
	&.ag-button {
		border-radius: 99px;
		display: inline-block;
	}

	&.ag-round-button {
		@extend .h-10;
		@extend .w-10;
		display: inline-block;
		border-radius: 99px;

		& .hover-overlay {
			@extend .rounded-t-full;
			@extend .rounded-b-full;
		}

		& .active-overlay {
			@extend .rounded-t-full;
			@extend .rounded-b-full;
		}
	}

	&:focus {
		outline: none;
	}
}
