@import 'tailwind';

:host {
	&.ag-button,
	&.ag-round-button,
	&.ag-icon-button {
		border-radius: 99px;
		display: inline-block;
	}

	&.ag-round-button,
	&.ag-icon-button {
		text-align: center;
		display: inline-block;
		vertical-align: middle;

		@apply h-10 w-10;

		& .hover-overlay,
		& .active-overlay {
			@apply rounded-t-full rounded-b-full;
		}
	}

	&:focus {
		outline: none;
	}
}
